@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.custom-pin {
  border-radius: 50%;
  animation: glow 1.5s linear infinite alternate;
}

.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
  background: #626060;
  color: #5e2323;
}
