@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.custom-pin {
  border-radius: 50%;
  animation: glow 1.5s linear infinite alternate;
}

.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
  background: #626060;
  color: #5e2323;
}
.ring1{
  border-radius: 50%;
	  height: 12px;
	  width: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)  
}
.ring2{
  border-radius: 50%;
	  height: 16px;
	  width: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.ring3{
  border-radius: 50%;
	  height: 20px;
	  width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
